<!DOCTYPE html>
{% load static %}
<html>
<head>
	<meta charset="utf-8">
	<title>homepage-cafe review</title>
	<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script type="text/javascript">
        $(document).ready(function(){
        $("#button1").click(function(){
        $("#myForm").fadeIn(500);
        });
    });
    </script>
    <style type="text/css">
        @import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Ubuntu');
    </style>
</head>
<script type="text/javascript">
    
    function validate() {
            var fname = document.forms["myForms"]["fname"].value;
            var lname = document.forms["myForms"]["lname"].value;
            var mail = document.forms["myForms"]["mail"].value;
            var usn = document.forms["myForms"]["usn"].value;
            var pwd = document.forms["myForms"]["pwd"].value;

            if (usn.length <= 4) {
                alert("username should be greater than 4 characters");
                return false;
            }
        }

        function opensignup() {
            document.getElementById('myForm').style.display='none';
            document.getElementById('UN').value="";
            document.getElementById('PW').value="";
            $("#signupForm").fadeIn(500);
        }

        function closesignup() {
            document.getElementById('signupForm').style.display='none';
            document.getElementById('fname').value="";
            document.getElementById('lname').value="";
            document.getElementById('email').value="";
            document.getElementById('usn').value="";
            document.getElementById('pwd').value="";

        }

        function closeform() {
            document.getElementById('myForm').style.display='none';
            document.getElementById('UN').value="";
            document.getElementById('PW').value="";

        }

    </script>
<body>
    <div  style="position: relative;" id="HP">

	   <div class="logo">
            <img src="{% static 'app1.png' %}" style="float:left;" alt="logo" height="55px" width="70px">
            <p style="padding-top:18px;"><b>Course</b>bay</p>
        </div>

        <br><br><br>

        <span id="tag">Rate. Review. Represent.</span>
        <p class="para">Coursebay is a website hosting reviews of university courses and instructors. Reviews are written by present and past students taking the specific course. Reviews are accesible through a simple search or through categorically choosing college, department and course.</p>
    
        <br><br>

        <a href="search"><button id="button">see reviews</button></a>
        <button id="button1" >write reviews</button> 
    </div>

    <div class="div1" id="myForm"> 
        <div class="form">
            <form action="/login" method="POST" >
                <br><br><label style="color:#EC732B; margin-left: 20%; font-family: Ubuntu; font-weight: bold; font-size: 2rem;">Welcome back!! </label>
                <br><br><br>    
                <br>
                <div style="font-size: 1.25rem; margin-left:10%;">
                    <i class="fa fa-user icon w3-xlarge"></i>
                    <input type="text" placeholder="Username" name="UN" id="UN" required>
                </div>    
                <br><br>
                <div style="font-size: 1.25rem; margin-left: 10%;">
                    <i class="fa fa-key icon"></i>
                    <input type="password" placeholder="Password" name="PW" id="PW" required>
                </div>
                <br><br>
                <button name="button2" id="button2">Login</button>
                <button name="button3" id="button3" onclick="closeform()">Close</button>
                <br><br>
                <label style="color: black;font-family: Ubuntu;margin-left: 20%; ">Don't have an account?</label>
                <a id="a1"style="color:grey;" onclick="opensignup()">Signup</a>
            </form>
        </div>
        <div class="pic">   
            <img id="imgg" src="{% static 'login.jpg' %}"  alt="login image">
        
        </div>
    </div>
    
    <div class="div2" id="signupForm">
        <form name="myForms" method="POST" action="/signup" onsubmit="return validate()">
            <label style="color: white; font-family: Ubuntu; font-weight: bold; font-size: 25px; text-decoration: underline;">SIGN UP </label>
            <br><br>
            <label for="fname" style="color: white; font-family: Ubuntu; font-weight: bold;">First Name :</label>
            <input type="text" name="fname" id="fname" required>
            <br><br>
            <label for="lname" style="color: white; font-family: Ubuntu; font-weight: bold;">Last Name :</label>
            <input type="text" name="lname" id="lname" required>
            <br><br>
            <label for="mail" style="color: white; font-family: Ubuntu; font-weight: bold;">E-mail :</label>
            <input type="email" name="mail" id="mail" required>
            <br><br>
            <label for="usn" style="color: white; font-family: Ubuntu; font-weight: bold;">Username :</label>
            <input type="text" name="usn" id="usn" required>
            <br><br>
            <label for="pwd" style="color: white; font-family: Ubuntu; font-weight: bold;">Password: </label>
            <input type="password" name="pwd" id="pwd" required>
            <br><br>
            <input type="submit" name="button4" value="Sign Up" id="button4">
            <input type="reset" name="button5" value="close" id="button5" onclick="closesignup()">
            <br>
        </form>
    </div>
</body>
</html>