<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <title>
            Search Reviews
        </title>
        <link rel="stylesheet" href="{% static 'search.css' %}">
    </head>
    <script type="text/javascript">
      function validate() {
        var col = document.forms["searchForm"]["college"].value;
        if (col.length <= 8) {
          alert("College name is too short."); 
          return false;
        }
      }
    </script>
    <body>
        
        <div id="searchDiv">
            <h2><center>Search Reviews</center></h2>
            <form name="searchForm" id="searchForm" action="/fetch" method="POST" class="searchbox" onsubmit="return validate()">
                <label for="branch">Discipline:&emsp;&emsp;&emsp;&emsp;</label>
                <select id ="branch" name = "branch" required>
                    <option value="" selected disabled hidden>Select your choice</option>
                    <option value="Arts">Arts</option>
                    <option value="Engineering">Engineering</option>
                    <option value="Medicine">Medicine</option>
                    <option value="Law">Law</option>
                </select>
                <br>
                <br>
                <label for="college">College Name:&emsp;&emsp;</label>
                <input type="text" id="college" name="college" ><br><br>
                <label for="course">Course Name:&emsp;&emsp;</label>
                <input type="text" id="course" name="course"><br><br><br>
                <input type="submit" class="button" name="submitbutton" id="submitbutton" value="Search">
            </form>
        </div>
    </body>
</html>