@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Ubuntu');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
            h2{
                font-weight: bolder;
                text-decoration: underline;
                font-size: 30px;
            }
            .button{
                margin-left: 40%;
                width: 100px;
                height: 30px;
                border-radius: 20px;
                border-color: white;
                background-color: rgba(0, 0, 0, 0);
                color: white;
            }
            .button:hover{
                background-color: white;
                color: black;
                transition: 0.8s;
                cursor: pointer;
            }
            .button1{
                margin-left: 12px;
                width: 100px;
                height: 30px;
                border-radius: 20px;
                border-color: white;
                background-color: rgba(0, 0, 0, 0);
                color: white;
            }
            .button1:hover{
                background-color: white;
                color: black;
                transition: 0.8s;
                cursor: pointer;
            }
            body{
                background-image: url('res.png');
                background-size: cover;
                color: white;
                font-family: Ubuntu;
                border: none;
            }
            #searchDiv{
                border-style: solid;
                border-color: white;
                border-radius: 30px;
                height: 300px;
                width: 500px;
                text-align: center;
                margin-left: 370px;
                margin-top: 150px;
            }
            label{
                font-size: 20px;
            }
            #college,#course{
                border: none;
                background: transparent;
                border-bottom: solid white;
                outline: none;
                color: white;
                text-decoration-color: white;
            }

            #branch{
                margin: 0;
                color: white;
                background: transparent;
                height: 30px;
                width: 100px;
                text-decoration-color: white;
            }

            option{
                background-color: black;
                font-size: 16px;
            } 

            .back{
                margin-left: 12px;
                width: 100px;
                height: 30px;
                border-radius: 20px;
                border-color: white;
                background-color: rgba(0, 0, 0, 0);
                color: white;
            }

            .back:hover{
                background-color: white;
                color: black;
                transition: 0.8s;
                cursor: pointer;
            }
