@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Ubuntu');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

body{
	background-image: url('res.png');
	background-size: cover;
	}
.logo{
	font-family: Josefin Sans;
    font-size:1.5625em;
    margin-top: 2.5625em;
	margin-left:5.0625em;
	color: white;   
	}
#tag{
    font-family:Montserrat; 
    font-weight:bolder;
    font-size: 3.75em;
    color: white;
    margin-left: 2.0625em;
    }
.para{
    margin-left:7.0625em;
    color:#c7c1c1;
    font-size:1.125em;
    font-weight:lighter;
    line-height: 1.7em;
    text-align: justify;
    width:40%; 
    font-family:Ubuntu;
    }
#button{
    width:9.375em;
    height:2.8125em;
    border-width:0.125em;
    border-color:white;
    border-radius:1.25em;
    background-color:rgba(0, 0, 0, 0);
    color:white;
    font-family:ubuntu;
    font-size: 1.125em;
    margin-left: 7.0625em;
    margin-top: 1.25em;
    }
#button1{
    width:9.375em;
    height:2.8125em;
    border-width:0.125em;
    border-color:white;
    border-radius:1.25em;
    background-color:rgba(0, 0, 0, 0);
    color:white;
    font-family:ubuntu;
    font-size: 1.125em;
    margin-left: 1.25em;
    margin-top: 1.25em;
    }
#button:hover{
    background-color: white;
    color:black;
    transition: 0.8s;
    cursor: pointer;
    }
#button1:hover{
    background-color: white;
    color: black;
    transition: 0.8s;
    cursor: pointer;
    }
.div1{
    display: none;  
    position: absolute;
    top: 20%;
    left: 22%;
    background-color:white;
    height: 60%;
    width: 55%;
    border-radius:10px;
        
    }
.form{
    float:left;
    width:50%
}
.pic{
    
    float:right;
    width:49%;
    height:  100%;    
}
#imgg{
    height:28.313rem;
    width:28.75rem;
    max-width:100%;
    max-height:100%;
    overflow: hidden;
    object-fit:cover;
    display: inline-block;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}
.div2{
    display: none;  
    position: absolute;
    top: 220px;
    left: 500px;
    background-color: rgba(0, 0, 0, 0.85);
    height: 280px;
    width: 300px;
    text-align: center;
    border-radius: 20px;
    border: 2px solid white;    
    }
#button2{
        font-family: Ubuntu;
        border-radius: 10px;
        border: none;
        background-color: #EC732B;
        height: 2rem;
        width: 5rem;
        color: white;
        margin-left: 25%;
    }
#button3{
        font-family: Ubuntu;
        border-radius: 10px;
        border: none;
        background-color: #EC732B;
        height: 2rem;
        width: 5rem;
        color: white;
        margin-left: 5%;
    }
#button4{
        font-family: Ubuntu;
        border-radius: 10px;
        background-color: white;
        color: black;
    }
#button5{
    font-family: Ubuntu;
    border-radius: 10px;
    background-color: white;
    color: black;
    }
#a1{
    color: white;
    cursor: pointer;
    text-decoration: underline;
    }
#button2:hover{
    cursor: pointer;
    background-color: #E55702;
}
#button3:hover{
    cursor: pointer;
    background-color: #E55703;
}
#button4:hover{
    cursor: pointer;
}
#button5:hover{
    cursor: pointer;
}

input{
    height: 1.875rem;
    border: none;
    border-bottom-style: solid;
    border-bottom-color: black;
    background-color: transparent;
    outline: none;
    width: 15.625rem;
}