@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Ubuntu');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

body{
	background-image: url('res.png');
	background-size: cover;
	}
.logo{
	font-family: Josefin Sans;
    font-size:25px;
    margin-top: 41px;
	margin-left: 113px;
	color: white;   
	}
#tag{
    font-family:Montserrat; 
    font-weight:bolder;
    font-size: 60px;
    color: white;
    margin-left: 113;
    }
.para{
    margin-left:113px;
    color:#c7c1c1;
    font-size:18px;
    font-weight:lighter;
    line-height: 1.7em;
    text-align: justify;
    width:40%;
    font-family:Ubuntu;
    }
#button{
    width:150px;
    height:45px;
    border-width:2px;
    border-color:white;
    border-radius:20px;
    background-color:rgba(0, 0, 0, 0);
    color:white;
    font-family:ubuntu;
    font-size: 18px;
    margin-left: 113px;
    margin-top: 20px;
    }
#button1{
    width:150px;
    height:45px;
    border-width:2px;
    border-color:white;
    border-radius:20px;
    background-color:rgba(0, 0, 0, 0);
    color:white;
    font-family:ubuntu;
    font-size: 18px;
    margin-left: 20px;
    margin-top: 20px;
    }
#button:hover{
    background-color: white;
    color:black;
    }
#button1:hover{
    background-color: white;
    color: black;
    }
.div1{
    display: none;  
    position: absolute;
    top: 220px;
    left: 500px;
    background-color: rgba(0, 0, 0, 0.85);
    height: 185px;
    width: 300px;
    text-align: center;
    border-radius: 20px;
    border: 2px solid white;    
    }
#button2{
        font-family: Ubuntu;
        border-radius: 10px;
        background-color: white;
        color: black;
    }
#button3{
    font-family: Ubuntu;
    border-radius: 10px;
    background-color: white;
    color: black;
    }
#a1{
    color: white;
    }